// Colors
$clr1: #586260;
$clr2: #164863;
$clr3: #427D9D;
$clr4: #9BBEC8;
$clr5: #DDF2FD;
$clr6: #ecf0f1e3;
$clr7: #eee;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;