.cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .cart-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;

        li {
            display: flex;
            gap: 20px;
            width: 250px;
            justify-content: space-between;
            background-color: #427d9d60;
            padding-inline-start: 10px;
            border-end-end-radius: 5px;
            border-start-start-radius: 5px;
            overflow: hidden;

            img {
                width: 100px;
                height: 70px;
            }

            p {
                padding-top: 10px;
            }
        }
    }

    @media (max-width:600px) {
        .cart-list {
            align-items: center;
        }
    }
}