.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 150px;
        font-weight: 900;
        color: transparent;
        background: linear-gradient(to right, $clr2, $clr4);
        -webkit-background-clip: text;
    }

    .category-container {
        display: flex;
        max-width: calc(100vw - 2rem);
        overflow-x: scroll;
        gap: 25px;
        margin-top: 25px;

        &::-webkit-scrollbar {
            background-color: #f0f0f000;
        }

        img {
            width: 200px;
            border-radius: 10px;
            object-fit: cover;

        }
    }

    @media (max-width:600px) {
        h1 {
            font-size: 80px;
        }
    }
}